.title {
  width: 100%;
  text-align: center;
  margin-top: 100px;
}

.obj1,
.obj2,
.obj3 {
  display: block;
  position: relative;
  background: black;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin: 200px auto;
  padding-top: 100px;
  box-sizing: border-box;
  font-size: 8px;
  text-align: center;
}



/*
*
* CSS Transition × hover
*
*/

.obj1 {
  transition: 1s ease; /* トランジションの設定 */
  transform: translateX(0px); /* 変化させるプロパティ */
}

.obj1:hover {
 transform: translateX(100px);/* 変化させるプロパティ */
}



/*
*
* CSS Animation
*
*/


.obj2 {
  animation: floating 1s linear infinite alternate;
}


@keyframes floating {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(100px);
  }
}


/*
*
* CSS Transition × Javascript
*
*/

.obj3 {
  transition: 1s ease; /* トランジションの設定 */
  transform: translateX(0px); /* 変化させるプロパティ */
}

.obj3.scrolled {
 transform: translateX(100px);/* 変化させるプロパティ */
}
